.signup_psw_input,
.update_psw_input {
  input {
    padding-right: 40px;
  }
  input.is-invalid {
    padding-right: 60px !important;
  }
  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 10px;
  }
  .eye_before_error {
    right: 1%;
  }
}

.signup_psw_input {
  .eye_after_error {
    right: 4.5%;
  }
}

@media only screen and (max-width: 1200px) {
  .signup_psw_input {
    .eye_after_error {
      right: 5%;
    }
  }
}
@media only screen and (max-width: 550px) {
  .signup_psw_input {
    .eye_after_error {
      right: 6%;
    }
  }
}
@media only screen and (max-width: 430px) {
  .signup_psw_input {
    .eye_after_error {
      right: 8%;
    }
  }
}

.update_psw_input {
  .eye_after_error {
    right: 6%;
  }
}
@media only screen and (max-width: 430px) {
  .update_psw_input {
    .eye_after_error {
      right: 8%;
    }
  }
}

.nameInput {
  font-weight: 500;
}
